body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-family: monospace;
    text-transform: uppercase;
}

header {
    background-color: #111111;
    color: white;
    height: 15vh;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #e4e4e4;
    height: 70vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    font-size: 1em;
}

.hide {
    visibility: hidden;
}

#app, .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.game-block img {
    float: left;
    width: 100px;
    height: 150px;
}

.flip-container {
    perspective: 200px;
}

.flip-animate {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100px;
    height: 150px;
}

.flipper {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 3em;
    font-weight: 100;
}

.back {
    background-color: white;
    transform: rotateY(180deg);
}

.text-typing {
    font-size: 1em;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 2em;
    }

    main {
        height: 70vh;
        min-height: 400px;
    }

    #app, .wrapper {
        width: 280px;
    }

    .game-block img {
        width: 70px;
        height: 110px;
    }

    .flip-container, .front, .back {
        width: 70px;
        height: 110px;
    }

    .text-typing {
        font-size: 0.7em;
    }
}