body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: 3em;
    font-family: monospace;
    text-transform: uppercase;
}

img {
    width: 10vw;
    height: 15vw;
}

header {
    background-color: #111111;
    color: white;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #e4e4e4;
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    font-size: 1em;
}

.hide {
    visibility: hidden;
}

#app {
    display: flex;
    flex-wrap: wrap;
    width: 44vw;
    min-width: 564px;
}

.game-block {
    margin: 5px;
}

.game-block img {
    float: left;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.flip-container {
    perspective: 200px;
}

.flip-animate {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 10vw;
    height: 15vw;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 10px;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 3em;
    font-weight: 100;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.back {
    background-color: white;
    transform: rotateY(180deg);
}

.text-typing {
    font-size: 1em;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        font-family: monospace;
        text-transform: uppercase;
    }

    main {
        background-color: #0DA00D;
    }

    #app {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 44vw;
        min-width: 100vw;
    }

    img {
        width: 18vw;
        height: 30vw;
    }

    .flip-container, .front, .back {
        width: 18vw;
        height: 30vw;
    }

    .text-typing {
        font-size: 1em;
        font-family: monospace;
        text-transform: uppercase;
        color: white;
        width: 90vw;
        white-space: normal;
        overflow: hidden;
        -webkit-animation: none;
        animation: none;
        text-align: center;
    }
}